.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
}

.nav-logo {
  width: 7em;
  height: auto;
  padding-right: 3em;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  font-family: "Afacad Flux", serif;
  font-size: larger;
  padding: 1em 1em 1em 1em;


}

/* .active {
  font-family: "Afacad Flux", serif;
  font-size: larger;
  text-decoration: underline;
  text-decoration-color: #2ac420;
} */