::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: rgba(128, 128, 128, 0.123);
}

::-webkit-scrollbar-thumb {
  background: #2bc420a9;
}

.call-list-content{
  overflow-y: scroll;
  height: 586px;
}

.call-list {
  display: flex;
  flex-direction: column;
  height: 586px;

  z-index: 1;
  position: relative;
}

.call-list-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;

  position: sticky;
  top: 0;
  right: 0;
  z-index: 10;
  background-color: white;
  padding-bottom: 5px;
  padding-top: 5px;
}

.archive-all-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  margin-top: 16px;
  margin-right: 32px;
  
  border: .5px;
  border-style: solid;
  border-color: rgb(185, 185, 185);
  border-radius: 5px;
  
  background: none;
  font-family: "Afacad Flux";

  cursor: pointer;
}

.archive-all-button:hover {
  background-color: rgba(187, 187, 187, 0.141);
}

.scroll-top-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  height: 21px;
  width: auto;
  
  margin-top: 16px;
  margin-right: 17px;
  padding-left: 10px;
  
  background: none;
  font-family: "Afacad Flux";
  
  opacity: .75;
  cursor: pointer;
}

.call-action-all-logo {
  width: 22px;
  height: auto;
  opacity: .6;
}

.footer {
  position: sticky;
  bottom: 0;
  right: 0;
  z-index: 10;
  background-color: white; 
  padding: 10px; 
  border-top: 1px solid #ddd;
  height: 40px;

  display: flex;
  justify-content: space-evenly;
}

.footer-icon {
  height: 30px;
  width: auto;
}