.call {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 3em;

  border: .5px;
  border-style: solid;
  border-color: rgb(185, 185, 185);
  border-radius: 5px;

  padding: 1em 1em 1em 1em;
  margin: 1em 1em 1em 1em;

  font-family: "Afacad Flux";
  font-size: medium;

  list-style-type: none;
}

.call-info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 70%;
}

.call-info-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.call-info-bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.call-type-logo {
  width: 36px;
  height: auto;
}

.call-action-logo {
  width: 22px;
  height: auto;
  opacity: .6;
}

.call-action-button {
  border: none;
  background: none;
}

.call-action-logo:hover {
  opacity: 1;
}

.actions-container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 30%;
}