::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: rgba(128, 128, 128, 0.123);
}

::-webkit-scrollbar-thumb {
  background: #2bc420a9;
}

.call-list {
  display: flex;
  flex-direction: column;
  height: 586px;
  overflow-y: auto;
}

.call-list-top {
  display: flex;
  flex-direction: row-reverse;
}


.archive-all-button {
  margin-top: 16px;
  margin-right: 17px;
}